.k{
    position: absolute;
    left: 750px;
    top: 1500px;
    z-index: 2;
  }
  .h{
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: -1;
  }
  .t{
    position: absolute;
    left: 300px;
    top: 550px;
    z-index: 0;
  }
  .b{
    position: absolute;
    left: 550px;
    top: 1000px;
    z-index: 1;
  }
  .g{
    position: absolute;
    left: 1050px;
    top: 2000px;
    z-index: 3;
  }
  p{
    font-size: 100px;
    float: right;
    left: 300px;
    position: relative;
    color: blue;
  }